
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Customers Log-in
      </div>
    </h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "ui large form") do |f| %>
<div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: "E-mail address" %>
          </div>
        </div>

   <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: 'current-password', placeholder: "Password" %>
          </div>
        </div>

<div class="field">
  <% if devise_mapping.rememberable? %>
      <div class="ui left icon input form-group form-check">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' do %>
        <%= resource.class.human_attribute_name('remember_me') %>
      <% end %>
    </div>
  <% end %>
</div>

 
      
  <div class="ui fluid large teal submit ">
    <%= f.submit  "Login", class: "ui blue button"  %>
  </div>
</div>
<% end %>
 <div class="ui message">
      <%= render "customers/shared/links" %>
    </div>

</div>
</div>
